@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    .text-heading-xs {
      font-size: 24px;
    }
    .text-heading-s {
      font-size: 32px;
    }
    .text-heading-m {
      font-size: 48px;
    }
    .text-heading-l {
      font-size: 88px;
    }
    .text-heading-xl {
      font-size: 136px;
    }

    .text-body {
      font-size: 26px;
    }

    .text-help {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.05em;
    }
  }
}
body {
  font-family: "Mouse Memoirs", sans-serif;
}

.page-container {
  @apply w-screen h-screen bg-mobile bg-cover px-6 py-10;
}

.main-menu-background {
  position: absolute;
  width: 324px;
  height: 481px;
  left: calc(50% - 162px - 0.5px);
  top: calc(50% - 240.5px + 40.5px);
  background: linear-gradient(180deg, #344ABA 0%, rgba(0, 20, 121, 0.83) 100%);
  box-shadow: inset 0px -8px 0px 4px #140E66, inset 0px 6px 0px 8px #2463FF;
  border-radius: 48px;
}
.main-menu-button {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  box-shadow: inset 0px -4px 0px 5px #243041, inset 0px -12px 0px 11px #9D2DF5;
  border-radius: 999px;
}
.main-menu-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
}
.main-menu-how-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 64px;
  gap: 8px;
  width: 260px;
  height: 62px;
  background: #2463FF;
  box-shadow: inset 0px -2px 0px 3px #140E66, inset 0px 1px 0px 6px #3C74FF;
  border-radius: 40px;
}
.main-menu-how-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), #2463FF;
  box-shadow: inset 0px -2px 0px 3px #140E66, inset 0px 1px 0px 6px #3C74FF;
  border-radius: 40px;
}

.mini-button {
  @apply flex justify-center items-center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  box-shadow: inset 0px -5px 0px -1px rgba(157, 45, 245, 0.25);
  border-radius: 999px;
}
.mini-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
}

.category-button {
  @apply text-white uppercase text-heading-xs;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 64px;
  gap: 8px;
  width: 324px;
  height: 77px;
  background: #2463FF;
  box-shadow: inset 0px -2px 0px 3px #140E66, inset 0px 1px 0px 6px #3C74FF;
  border-radius: 25px 25px 28px 28px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.category-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), #2463FF;
}

.text-container {
  @apply bg-white rounded-3xl p-7;
}

.letter-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  gap: 8px;
  width: 40px;
  height: 66px;
  background: #2463FF;
  box-shadow: inset 0px -2px 0px 3px #140E66, inset 0px 1px 0px 6px #3C74FF;
  border-radius: 12px;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
.letter-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), #2463FF;
}
.letter-button:disabled {
  opacity: 0.25;
  @apply text-transparent;
}

.alphabet-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 32px;
  width: 27px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 8px;
  flex: none;
  order: 7;
  align-self: stretch;
}
.alphabet-button:hover {
  @apply bg-brand-blue text-white;
}
.alphabet-button:disabled {
  @apply text-brand-navy bg-gray-600;
}

/*# sourceMappingURL=main.css.map */
